{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "ducks": "./src/ducks",
                    "components": "./src/components",
                    "assets": "./src/assets",
                    "routes": "./src/routes",
                    "utils": "./src/utils"
                }
            }
        ]
    ]
}
